<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    #words {
        background-color: transparent !important;
        text-align: center !important;
    }
</style>

<body>
    <br>
    <div class="title">
        <h2 id="words"><span class="shadow p-3 mb-5 bg-white rounded">므</span></h2>   
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <p class="card-text shadow-lg p-3 mb-5 bg-white rounded mb-0">므낫세 (meunas-se) means first son of Joseph {from Bible}. The vision of 므낫세 (meunas-se) is to provide database service with user-friendly tools and other additional services that are designed to improve productivity, with low maintenance cost.

                        The development of 므낫세, will have 5 phases. These 5 phases help our expectation of where we should have gone and client’s/investor’s expectation of how we are going to achieve our vision.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <p class="card-text shadow-lg p-3 mb-5 bg-white rounded mb-0">
                                5 phases of the development are:<br><br>

                                1. Ability to provide database service with easy to use tools for users.<br>
                                
                                2. Ability to provide chat service and email service for users within one or multiple organization(s)<br>
                                
                                3. Ability to provide web-hosting service<br>
                                
                                4. Ability to add more useful tools: which are customize based one client’s needs<br>
                                
                                5. Ability to provide secure platform, encrypt user’s data<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>