<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>
<style>
    #words {
        background-color: transparent !important;
        text-align: center !important;
    }
    
    #custome-background {
        background-color: #f0f0f0 !important;
    }
</style>

<body>
    <% include header %>
        <div id="custom_padding">
            <div class="content" id="content_event" style="display: block;">
                <br>
                <div class="title">
                    <h2 id="words"><span class="shadow p-3 mb-5 bg-white rounded">Let's get started with your announcements!</span></h2>
                </div>
                <div id="custome-background">
                    <table class="table borderless">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-body" style="width: 100%;">
                                            <% include newAnnouncement %>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-body" style="width: 100%;">
                                            <% include viewAnnouncement %>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
</body>

</html>