﻿<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>


        body {
            font-family: Verdana, sans-serif;
        }

        .month .prev {
          float: left;
          padding-top: 10px;
        }

        .month .next {
          float: right;
          padding-top: 10px;
        }

        .month .prev:hover {
            color: lightcoral;
            cursor: pointer;
        }

        .month .next:hover {
            color: lightcoral;
            cursor: pointer;
        }



        .month {
            padding: 70px 25px;
            width: 100%;
            background-color: mediumslateblue;
            text-align: center;
        }

            .month ul {
                
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

                .month ul li {
                    color: white;
                    font-size: 20px;
                    text-transform: uppercase;
                }

        .days {
            background: white;
        }

            .days li {
                border : 0 !important;
                display: inline-block !important; 
                width: 13.8% !important;
                text-align: center;
                font-size: 12px;
                color: black;
            }

        .daysName {
            background: white;
        }

            .daysName li {
                border : 0 !important;
                display: inline-block !important; 
                width: 13.8% !important;
                text-align: center;
                font-size: 12px;
                color: black;
            }
    </style>
</head>
<body>

    <div class="month">
        <ul>
            <li class="prev" onclick="openPrev()">PREV<br />&#10094;</li>
            <li class="next" onclick="openNext()">NEXT<br />&#10095;</li>
            <li>
                *reminder list this month*
            </li>
        </ul>
    </div>
    <ul id="daysName" class="daysName">
        <li id="1" class="list-group-item">Mo</li><li id="2" class="list-group-item">Tu</li><li id="3" class="list-group-item">We</li><li id="4" class="list-group-item">Th</li><li id="5" class="list-group-item">Fr</li><li id="6" class="list-group-item">Sa</li><li id="7" class="list-group-item">Su</li>
    </ul>

    <ul id="days" class="days">
    </ul>

    <div id="test" class="p-3 mb-2 bg-info text-white"></div>

</body>

<script>
    var start = Date.now();
    var date = new Date(start),
        day = date.getDate(),
        month = date.getMonth(),
        monthAltered = date.getMonth() + 1,
        year = date.getFullYear();
    var dayInMonth;

    var wMonth = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    step1();
    fillingCalendar();
    cal(); 

    function step1() {
        if (monthAltered > 12) {
            monthAltered = 1;
            year++;
        } else if (monthAltered < 1) {
            monthAltered = 12;
            year--;
        }
        dayInMonth = new Date(year, monthAltered, 0).getDate(); 
    }
    //cal();
 
    function fillingCalendar() {

        var startDay = 1;
        var x,y,z;
        var savestart ;
        var dayAcquired = new Date(year, month, startDay).toUTCString().substring(0, 2);
        for (x = 1; x <= 7; x++) {
            
            if (dayAcquired == document.getElementById(x).textContent) {
                savestart = x;

            }
        }

        for (y = 1; y < savestart; y++) {
            
            var node = document.createElement("LI");
            node.className = "list-group-item text-info";
            var textnode = document.createTextNode("prev month");
            node.appendChild(textnode);
            document.getElementById("days").appendChild(node);

        }

        for (z = 1; z <= dayInMonth; z++) {

            //notification
            var nodeSpan = document.createElement("SPAN");
            var text = document.createTextNode("1");
            nodeSpan.className = "badge badge-warning badge-pill";
            nodeSpan.appendChild(text);

            //spacing
            var nodeSpan2 = document.createElement("SPAN");
            var text2 = document.createTextNode(" --- ");
            nodeSpan2.appendChild(text2);


            
            var node = document.createElement("LI");
            if (z == day) {
                node.className = "list-group-item list-group-item-action active";
            } else {
                node.className = "list-group-item list-group-item-action";
            }

            var textnode = document.createTextNode(z);
            node.appendChild(textnode);
            node.appendChild(nodeSpan2);
            node.appendChild(nodeSpan);
            


            document.getElementById("days").appendChild(node);
            //document.getElementById("days").appendChild(nodeSpan);

        }

        for (dayInMonth; dayInMonth <= 37; dayInMonth++) {
            
            var node = document.createElement("LI");
            node.className = "list-group-item text-info";
            var textnode = document.createTextNode("next month");
            node.appendChild(textnode);
            document.getElementById("days").appendChild(node);

        }


        //document.getElementById('test').innerHTML = dayAcquired;

    }

    function fillingCalendar2() {

        var startDay = 1;
        var x,y,z;
        var savestart ;
        var dayAcquired = new Date(year, month, startDay).toUTCString().substring(0, 2);
        for (x = 1; x <= 7; x++) {
            
            if (dayAcquired == document.getElementById(x).textContent) {
                savestart = x;

            }
        }

        for (y = 1; y < savestart; y++) {
            
            var node = document.createElement("LI");
            node.className = "list-group-item text-info";
            var textnode = document.createTextNode("prev month");
            node.appendChild(textnode);
            document.getElementById("days").appendChild(node);

        }

        for (z = 1; z <= dayInMonth; z++) {

            //notification
            var nodeSpan = document.createElement("SPAN");
            var text = document.createTextNode("1");
            nodeSpan.className = "badge badge-warning badge-pill";
            nodeSpan.appendChild(text);

            //spacing
            var nodeSpan2 = document.createElement("SPAN");
            var text2 = document.createTextNode(" --- ");
            nodeSpan2.appendChild(text2);


            
            var node = document.createElement("LI");
            node.className = "list-group-item list-group-item-action";

            var textnode = document.createTextNode(z);
            node.appendChild(textnode);
            node.appendChild(nodeSpan2);
            node.appendChild(nodeSpan);
            


            document.getElementById("days").appendChild(node);
            //document.getElementById("days").appendChild(nodeSpan);

        }

        for (dayInMonth; dayInMonth <= 37; dayInMonth++) {
            
            var node = document.createElement("LI");
            node.className = "list-group-item text-info";
            var textnode = document.createTextNode("next month");
            node.appendChild(textnode);
            document.getElementById("days").appendChild(node);

        }


        //document.getElementById('test').innerHTML = dayAcquired;

    }


    function cal() {
        //document.getElementById('test').innerHTML = new Date(2019, 10, 1).toUTCString().substring(0, 3);
        var nowDate = Date.now();
        var dateNow = new Date(nowDate),
            dayNow = date.getDate(),
            monthNow = date.getMonth() + 1,
            yearNow = date.getFullYear();
        document.getElementById('test').innerHTML = dayNow + "|" + wMonth[monthNow - 1] + "|" + yearNow;
    }

    function calprev(monthNow, yearNow) {
        document.getElementById('test').innerHTML = wMonth[monthNow - 1] + "|" + yearNow;
    }

    function calnext(monthNow, yearNow) {
        document.getElementById('test').innerHTML = wMonth[monthNow - 1] + "|" + yearNow;
    }



    function openPrev() {
      //window.open("./calendarPrev.html");
        var starter = Date.now();
        var dater = new Date(starter),
            monthAlteredNowTime = dater.getMonth() + 1;


        var myList = document.getElementById('days');
        myList.innerHTML = '';
        monthAltered--;
        month--;
        step1();

        calprev(monthAltered, year);


        if (monthAlteredNowTime == monthAltered) {
            fillingCalendar();
        } else {
            fillingCalendar2();
        }
    }

    function openNext() {

        var starter = Date.now();
        var dater = new Date(starter),
            monthAlteredNowTime = dater.getMonth() + 1;


      //window.open("./calendarNext.html");
        var myList = document.getElementById('days');
        myList.innerHTML = '';
        monthAltered++;
        month++;
        step1();

        calprev(monthAltered, year);


        if (monthAlteredNowTime == monthAltered) {
            fillingCalendar();
        } else {
            fillingCalendar2();
        }

    }





</script>
</html>