<!DOCTYPE html>
<html lang="en">
<head>
  <title>므낫세</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
	.title{
		background-color: transparent;
	}
	#words {
        background-color: transparent !important;
        text-align: center !important;
	}
	#custome-background{
        background-color: #f0f0f0 !important;
    }
</style>
<body>
	<br>
	<div class="title">
		<h2 id="words"><span class="shadow p-3 mb-5 bg-white rounded">Contacts</span></h2>   
	</div>	
	<div id="custome-background">
		<table class="table">
			<tbody>
				<tr>
					<td>
						<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title" name="domain_name">Add Contact</h5>
							<form action="">
                                <div class="form-group">
                                        <label id="label-name">Name</label>
                                        <input name="name" type="text" class="form-control" id="name"required>
                                </div>
								<div class="form-group">
									<label id="label-email">Email Address</label>
									<input name="email_address" type="email" class="form-control" id="email-address"required>
								</div>
								<div class="form-group">
									<label id="label-contact">Contact Number</label>
									<input name="contact_number" type="text" class="form-control" id="contact-number"required>
								</div>
								<div class="form-group">
									<label id="label-address">Address</label>
									<input name="address" type="text" class="form-control" id="Address"required>
                                </div>
                                <div class="form-group">
                                    <label id="label-birthday">Birthday</label>
                                    <input name="birthday" type="date" class="form-control" id="birthday"required>
                                </div>
								<button type="submit" class="btn btn-primary mb-2">Add Now!</button>
							</form>
						</div>
						</div>
					</td>
					<td>
					<h2>Contact List</h2>
						<table class="table table-dark">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Email Address</th>
									<th scope="col">Contact Number</th>
									<th scope="col">Address</th>
									<th scope="col">Birthday</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<form action="">
										<td>
											<div class="form-group">
												<input name="name_subordinate" type="text" class="form-control"required>
											</div>
										</td>
										<td>
											<div class="form-group">
												<input name="email_address_subordinate" type="email" class="form-control"required>
											</div>
										</td>
										<td>
											<div class="form-group">
												<input name="contact_subordinate" type="text" class="form-control"required>
											</div>
										</td>
										<td>
											<div class="form-group">
												<input name="address_subordinate" type="text" class="form-control"required>
											</div>
										</td>
										<td>
											<div class="form-group">
												<input name="bday_subordinate" type="date" class="form-control"required>
											</div>
										</td>
										<td>
											<button type="submit" class="btn btn-primary mb-2">Save Edit</button>
										</td>
									</form>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
					
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
