<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>
<style>
    .title {
        background-color: transparent;
        text-align: right;
    }
    
    #custom-title {
        padding-right: 10px !important;
        padding-top: 10px !important;
    }
    
    #custom-padding {
        padding-left: 10px;
    }
    
    #about {
        color: red;
    }
    
    #about:hover {
        color: white;
    }
    
    #events {
        color: orange;
    }
    
    #events:hover {
        color: white;
    }
    
    #announcements {
        color: purple;
    }
    
    #announcements:hover {
        color: white;
    }
    
    #profile {
        color: green;
    }
    
    #profile:hover {
        color: white;
    }
    
    #help {
        color: darkblue;
    }
    
    #help:hover {
        color: white;
    }
    
    #contacts {
        color: rgb(5, 72, 117);
    }
    
    #contacts:hover {
        color: white;
    }
    
    .btn-light {
        background-color: white !important;
        border-color: #f8f9fa;
    }
    
    .btn-light:focus,
    .btn-light.focus {
        border-color: blue !important;
    }
    
    .btn-light:hover {
        background-color: #000080 !important;
    }
    
    #content_events {
        display: none;
    }
    
    #content_announcement {
        display: none;
    }
    
    #content_profile {
        display: none;
    }
    
    #content_about {
        display: block;
    }
    
    #content_help {
        display: none;
    }
    
    #content_contact {
        display: none;
    }
</style>

<body>
    <% include header %>
        <div id="custom-padding">

            <div class="content" id="content_about">
                <% include about %>
            </div>
            <div class="content" id="content_events">

            </div>
            <div class="content" id="content_announcement">

            </div>
            <div class="content" id="content_profile">

            </div>
            <div class="content" id="content_help">
                <% include help %>
            </div>
            <div class="content" id="content_contact">
                <% include contacts %>
            </div>
        </div>
</body>

<script>
    function openContent(id) {
        var target = document.getElementById(id);
        if (target.style.display == "block") {
            target.style.display = "none";
        } else {
            document.getElementById("content_events").style.display = "none";
            document.getElementById("content_announcement").style.display = "none";
            document.getElementById("content_profile").style.display = "none";
            document.getElementById("content_about").style.display = "none";
            document.getElementById("content_help").style.display = "none";
            document.getElementById("content_contact").style.display = "none";
            target.style.display = "block";
        }
    }
</script>

</html>