﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>므낫세</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>

    .title {
        background-color: transparent;
    }

    #words {
        background-color: transparent !important;
        text-align: center !important;
    }

    #custome-background {
        background-color: #f0f0f0 !important;
    }
</style>
<body>
    <br>
    <div class="title">
        <h2 id="words"><span class="shadow p-3 mb-5 bg-white rounded">Add/Edit</span></h2>
    </div>
    <div id="custome-background">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Note</label>
                        <input name="note_calendar_date" type="text" class="form-control" id="exampleInputText" placeholder="Type away..." required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
