<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <table>
        <th>
            <td>
                Email
            </td>
            <td>
                Message
            </td>
        </th>

        <% for (var i = 0; i < response.length; i++) { %>
            <tr>
                <td>
                    <%= response[i].email %>
                </td>
                <td>
                    <%= response[i].message %>
                </td>
            </tr>

            <% } %>
    </table>

</body>

</html>