<title>므낫세</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    .title {
        background-color: transparent;
        text-align: right;
    }
    
    #custom-title {
        padding-right: 10px !important;
        padding-top: 10px !important;
    }
    
    #custom-padding {
        padding-left: 10px;
    }
    
    #about {
        color: red;
    }
    
    #about:hover {
        color: white;
    }
    
    #events {
        color: orange;
    }
    
    #events:hover {
        color: white;
    }
    
    #announcements {
        color: purple;
    }
    
    #announcements:hover {
        color: white;
    }
    
    #profile {
        color: green;
    }
    
    #profile:hover {
        color: white;
    }
    
    #help {
        color: darkblue;
    }
    
    #help:hover {
        color: white;
    }
    
    #contacts {
        color: rgb(5, 72, 117);
    }
    
    #contacts:hover {
        color: white;
    }
    
    .btn-light {
        background-color: white !important;
        border-color: #f8f9fa;
    }
    
    .btn-light:focus,
    .btn-light.focus {
        border-color: blue !important;
    }
    
    .btn-light:hover {
        background-color: #000080 !important;
    }
    
    #content_events {
        display: none;
    }
    
    #content_announcement {
        display: none;
    }
    
    #content_profile {
        display: none;
    }
    
    #content_about {
        display: block;
    }
    
    #content_help {
        display: none;
    }
    
    #content_contact {
        display: none;
    }
</style>