<div id="custom-title" class="title">
    <h2>Productive day is a good day!</h2>
</div>
<div id="custom-padding">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a id="about" class="btn btn-light" href="dashboard">About</a>
        </li>
        <li class="nav-item">
            <a id="events" class="btn btn-light" href="events">Events</a>
        </li>
        <li class="nav-item">
            <a id="announcements" class="btn btn-light" href="announcements">Announcements</a>
        </li>
        <li class="nav-item">
            <a id="for-future-update" class="nav-link disabled" tabindex="-1" aria-disabled="true">Chat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Data Entry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Web Hosting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Connect to Your Google Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Custom Tool</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Email</a>
        </li>
        <li class="nav-item">
            <a id="drive" class="btn btn-light" href='drive'>Drive</a>
        </li>
        <li class="nav-item">
            <a id="contacts" class="btn btn-light" onclick="openContent('content_contact')">Contacts</a>
        </li>
        <li class="nav-item">
            <a id="profile" class="btn btn-light" href="profile">Profile</a>
        </li>
        <li class="nav-item">
            <a id="help" class="btn btn-light" onclick="openContent('content_help')">Help</a>
        </li>
    </ul>
</div>

<% while(session.flash.length > 0) { %>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%- session.flash.pop() %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <% } %>