<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    #words {
        background-color: transparent !important;
        text-align: center !important;
    }
</style>

<body>
    <br>
    <div class="title">
        <h2 id="words"><span class="shadow p-3 mb-5 bg-white rounded">므</span></h2>   
    </div>
    <br>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Help via email will be added soon</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action="">
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <input name="email_help_title" type="text" class="form-control" placeholder="Title" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea name="email_help_description" class="form-control" rows="5" placeholder="Type-in your question or concern..." required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Help Me!</button>
    </form>

</body>

</html>