<!DOCTYPE html>
<html lang="en">
<head>
  <title>므낫세</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
	.title{
		background-color: #f2f3f4;
		text-align:right;
	}
	.title h1{
		background-color: white;
		text-align: center;
		font-size: 100px;
	}
	.borderless td, .borderless th{
		border: none;
	}
	#logo{
		float:left;
		border: solid 1px black;
		border-radius: 5px;
		padding: 5px;
	}
	#words{
		font-size: 42px;
	}
	#label-email{
		color:red;
	}
	#label-password{
		color:orange;
	}
	#label-contact{
		color:purple;
	}
	#label-domain{
		color:green;
	}
	#label-address{
		color:blue;
	}
	#label-plan{
		color:darkblue;
	}
</style>
<body>
	<div class="title">
		<h2><span id="logo">므</span><span id="words">Breakfast is a good way to start your busy day!</span></h2>   
	</div>	
	<table class="table borderless">
		<thead>
			<tr>
				<th scope="col">
					<div class="card" style="width: 100%;">
					<div class="card-body">
						<h5 class="card-title">Sign-up</h5>
						<p class="card-text">Join Us Today and Let's Get Productive!</p>
						<form action="/signup-process" method="POST">
							<div class="form-group">
								<label id="label-email">Email address</label>
								<input name="email_sign_up" type="email" class="form-control" id="email-address" placeholder="youremail@email.com" required>
							</div>
							<div class="form-group">
								<label id="label-password">Password</label>
								<input name="password_sign_up" type="password" class="form-control" id="password" placeholder="Your Password" required>
							</div>
							<div class="form-group">
								<label id="label-contact">Contact Number</label>
								<input name="contact_sign_up" type="text" class="form-control" id="phone-number" placeholder="Your Business Contact Number" required>
							</div>
							<div class="form-group">
								<label id="label-domain">Your Organization Domain</label>
								<input name="domain_sign_up" type="text" class="form-control" id="domain" placeholder="YourDomain.com">
							</div>
							<div class="form-group">
								<label id="label-address">Your HQ Address</label>
								<input name="address_sign_up" type="text" class="form-control" id="domain" placeholder="111 address, North York, Canada" required>
							</div>
							<div class="form-group">
								<label class="mr-sm-2" id="label-plan">Choose Your Plan</label>
								<select name="plan_sign_up" class="custom-select mr-sm-2">
									<option value="basic">Basic: 20 CAD</option>
									<option value="premium">Premium: 70 CAD</option>
								</select>
							</div>
							<button type="submit" class="btn btn-primary mb-2">Join Now!</button>
						</form>
					</div>
					</div>
				</th>
				<th scope="col">
					<div class="title">
						<h1>Welcome Back<br> to 므낫세</h1>
					</div>
					<div class="card" style="width: 100%;">
						<div class="card-body">
							<h5 class="card-title">Login</h5>
							<p class="card-text">We are as energize as you are right now to start!</p>
							<form action="/login-process" method="POST">
								<div class="form-group">
									<label id="label-email">Email address</label>
									<input name="email" type="email" class="form-control" id="email-address" placeholder="youremail@email.com" required>
								</div>
								<div class="form-group">
									<label id="label-password">Password</label>
									<input name="password" type="password" class="form-control" id="password" placeholder="Your Password" required>
								</div>
								<button type="submit" class="btn btn-primary mb-2">Start My Day Now!</button>
							</form>
						</div>
					</div>
				</th>
			</tr>
		</thead>
	</table>
	<% include about %>

</body>
</html>
