﻿<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>
<style>
    #words {
        background-color: transparent !important;
        text-align: center !important;
    }
    
    #custom-background {
        background-color: #f0f0f0 !important;
    }
</style>

<body>
    <% include header %>
        <div id="custom_padding">
            <div class="content" id="content_event" style="display: block;">
                <br>
                <div class="title">
                    <h2 id="words"><span class="shadow p-3 mb-5 bg-white rounded">므</span></h2>
                </div>
                <div id="custom-background">

                    <table class="table borderless">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-body" style="width: 100%;">
                                            <div class="list-group">
                                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                    <label class="btn btn-secondary">
                                                    <input type="radio" name="options" id="option2" autocomplete="off"> < Back
                                                </label>
                                                    <label class="btn btn-secondary">
                                                    <input type="radio" name="options" id="option3" autocomplete="off"> Forward >
                                                </label>
                                                    <label class="btn btn-secondary">
                                                    <input type="radio" name="options" id="option4" autocomplete="off"> Add Directory +
                                                </label>
                                                    <label class="btn btn-secondary">
                                                    <input type="radio" name="options" id="option4" autocomplete="off"> Upload File +
                                                </label>
                                                    <label class="btn btn-secondary">
                                                    <input type="radio" name="options" id="option4" autocomplete="off"> Download File -
                                                </label>
                                                    <label class="btn btn-secondary">
                                                    <input type="radio" name="options" id="option4" autocomplete="off"> Delete File -
                                                </label>
                                                    <label class="btn btn-secondary">
                                                    <input type="radio" name="options" id="option4" autocomplete="off"> Select All ( )
                                                </label>
                                                </div>
                                                <a href="#" class="list-group-item list-group-item-action">Root</a>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>





                </div>
            </div>
        </div>

</body>

</html>