<!DOCTYPE html>
<html lang="en">
<head>
  <title>므낫세</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div>
		<h2>Create Your New Announcement Now and Share It With Everyone</h2>   
	</div>	
	<form method="POST" action="/new-announcement">
		<div class="form-group">
			<div class="form-row">
				<div class="col">
					<input name="announcement_title" type="text" class="form-control" placeholder="Announcement Title" required>
				</div>
				<div class="col">
					<input name="announcement_sub_description" type="text" class="form-control" placeholder="Announcement Sub-Description" required>
				</div>
			</div>
		</div>
		<div class="form-group">
			<textarea name="announcement_description" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Announcement Description..." required></textarea>
		</div>
		<div class="form-group">
			<label>Date</label>
			<input name="announcement_date" type="date" class="form-control" required>
		</div>
		<button type="submit" class="btn btn-primary">Create!</button>
	</form>
		

</body>
</html>
