﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>므낫세</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div>
        <h2>Create Your New Event Now and Share It With Everyone</h2>
    </div>
    <form method="POST" action="/new-event">
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <input name="event_title" type="text" class="form-control" placeholder="Event Title" required>
                </div>
                <div class="col">
                    <input name="event_sub_description" type="text" class="form-control" placeholder="Event Sub-Description" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea name="event_description" class="form-control" id="" rows="5" placeholder="Event Description..." required></textarea>
        </div>

        <div class="form-group">
            <label>Choose Function Button For Your Event</label>
            <select name="button_needed" class="form-control" id="button_selection">
                <option value="join_button">Join Button</button></option>
                <option value="sign_up_button">Sign-up Button</option>
                <option value="no_button">*No Button*</option>
            </select>
        </div>

        <fieldset disabled>
            <div class="form-group">
                <label>Payment</label>
                <select class="form-control">
                    <option>Free</option>
                    <option>Price</option>
                </select>
                <small class="form-text text-muted" style="color: red !important;">*This feature is coming soon*</small>
            </div>
        </fieldset>
        <div class="form-group">
            <label>Date</label>
            <input name="event_date" type="date" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Create!</button>
    </form>

    <br />

    <p>
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Add to Calendar and email notification
                </button>
            </h5>
        </div>
    </p>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <form method="POST" action="/new-event-add-calendar">
                <div class="form-group">
                    <label>Date of reminder</label>
                    <input name="event_date" type="date" class="form-control" required>
                    <label>Time of reminder</label>
                    <input name="time_calendar" class="form-control" type="time" required>
                    <small class="form-text text-muted" style="color: red !important;">Date and Time to be reminded on Calendar</small>
                </div>
                <div class="form-group">
                    <label>Duration of reminder</label>
                    <input name="duration_calendar" class="form-control" type="number" required>
                    <small class="form-text text-muted" style="color: red !important;">Event duration</small>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input name="location_calendar" class="form-control" type="text" required>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <label>Category</label>
                            <select name="category_calendar" class="custom-select mr-sm-2">
                                <option value="Ministry">Ministry Team Only</option>
                                <option value="Members">For All Members</option>
                                <option value="Leaders">For Leaders Only</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Organizer</label>
                    <input name="organizer_calendar" class="form-control" type="text" required>
                </div>


                <div class="form-group">
                    <label>Attendees</label>
                    <input id="attendees_calendar" class="form-control" type="email" placeholder="email@email.com" required>
                    <button type="button" class="btn btn-primary" onclick="add_new()">Add</button>
                </div>

                <div class="form-group">
                    <label>List of your attendees</label>
                    <select name="attendees_list" class="form-control" id="attendees_list" multiple>
                    </select>
                    <small class="form-text text-muted" style="color: red !important;">Highlight the attendee(s) that you want to notify via email</small>
                </div>

                <button type="submit" class="btn btn-primary">Send!</button>

            </form>
        </div>
    </div>




</body>
<script>
    var value = 1;
    function add_new() {
        var email = document.getElementById("attendees_calendar").value;
        var node = document.createElement("option");

        if (email != "") {
            var textnode = document.createTextNode(email);
            node.appendChild(textnode);
            node.value = value;
            value++;
            document.getElementById("attendees_list").appendChild(node);
        }
    }
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
