﻿<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>
<style>
    .title {
        background-color: transparent;
    }
    
    #words {
        background-color: transparent !important;
        text-align: center !important;
    }
    
    #custome-background {
        background-color: #f0f0f0 !important;
    }
</style>

<body>
    <% include header %>
        <br>
        <div class="title">
            <h2 id="words"><span class="shadow p-3 mb-5 bg-white rounded">Profile</span></h2>
        </div>
        <div id="custome-background">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title" name="domain_name">
                                        <%= session['organization'] %>
                                    </h5>
                                    <form action="">
                                        <div class="form-group">
                                            <label id="label-email">Email Address</label>
                                            <% if (session['permission'] < 10) { %>
                                                <input name="email_address" type="email" class="form-control" id="email-address" required disabled>
                                                <% } %>
                                                    <input name="email_address" type="email" class="form-control" id="email-address" required>
                                        </div>
                                        <div class="form-group">
                                            <label id="label-password">Password</label>
                                            <input name="password" type="password" class="form-control" id="password-address" required>
                                        </div>
                                        <div class="form-group">
                                            <label id="label-contact">Contact Number</label>
                                            <input name="contact_number" type="text" class="form-control" id="contact-number" required>
                                        </div>
                                        <div class="form-group">
                                            <label id="label-address">HQ Address</label>
                                            <input name="hq_address" type="text" class="form-control" id="hq-address" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary mb-2">Save</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h2>Your Subordinates List</h2>

                            <div class="alert alert-danger" role="alert">
                                <strong>To delete a subordinate</strong>, you just simply need to erase the information and click save
                            </div>
                            <div class="alert alert-danger" role="alert">
                                <strong>Don't forget</strong>, you can always add more subordinates by purchasing expansion plan
                            </div>
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Name Of Subordinate</th>
                                        <th scope="col">Email Address</th>
                                        <th scope="col">Contact Number</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Birthday</th>
                                        <th scope="col">Level</th>
                                        <th scope="col">Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for( var i = 0; i < workers.length; i++) { %>
                                        <tr>
                                            <form method="POST" action="<%= workers[i].id %>">
                                                <td>
                                                    <div class="form-group">
                                                        <input name="name_subordinate" type="text" class="form-control" value="<%= workers[i].name %>">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input name="email_address_subordinate" type="email" class="form-control" value="<%= workers[i].email %>">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input name="contact_subordinate" type="text" class="form-control" value="<%= workers[i].contact_no %>">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input name="address_subordinate" type="text" class="form-control" value="<%= workers[i].address %>">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input name="bday_subordinate" type="date" class="form-control" value="<%= workers[i].birthday %>">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input name="level_subordinate" type="number" class="form-control" value="<%= workers[i].permission_lvl %>">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input name="password_subordinate" type="password" class="form-control">
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="submit" class="btn btn-primary mb-2">Save Edit</button>
                                                </td>
                                            </form>

                                        </tr>

                                        <% } %>

                                            <tr>
                                                <form method="POST" action="new">
                                                    <td>
                                                        <div class="form-group">
                                                            <input name="name_subordinate" type="text" class="form-control" required>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input name="email_address_subordinate" type="email" class="form-control">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input name="contact_subordinate" type="text" class="form-control">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input name="address_subordinate" type="text" class="form-control">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input name="bday_subordinate" type="date" class="form-control">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input name="level_subordinate" type="number" class="form-control" required>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input name="password_subordinate" type="password" class="form-control" required>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="btn btn-primary mb-2">Save Edit</button>
                                                    </td>
                                                </form>
                                            </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div>
                <% include calendar %>
            </div>
        </div>

</body>

</html>