<!doctype html>
<html lang="en">

<head>
    <% include head %>
</head>

<body>
    <% include header %>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <%= event.title %>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <strong>Sub-description: </strong>
                            <%= event.sub_description %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Description: </strong>
                            <%= event.description %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Price :</label>
                            <label>*free*</label>
                            <br>
                            <button type="button" class="btn btn-primary">Join Now!</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

</body>

</html>