<!DOCTYPE html>
<html lang="en">

<head>
    <title>므낫세</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .title {
        background-color: transparent;
    }
</style>

<body>
    <div class="title custome-sub-title">
        <h2>Announcements:</h2>
    </div>
    <% while(session.flash.length > 0) { %>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%- session.flash.pop() %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
        </div>

        <% } %>
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th class="bg-primary" scope="col">ID</th>
                            <th class="bg-primary" scope="col">Title</th>
                            <th class="bg-primary" scope="col">Brief Description</th>
                            <th class="bg-primary" scope="col">VIEW DETAILS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% announcements.forEach( announcement => { %>

                            <tr>
                                <th scope="row">
                                    <%= announcement.id %>
                                        </td>
                                        <td>
                                            <%= announcement.title %>
                                        </td>
                                        <td>
                                            <%= announcement.sub_description %>
                                        </td>
                                        <td>

                                            <a class="btn btn-primary" href="?id=<%= announcement.id %>" role="button">View!</a>
                                        </td>
                            </tr>
                            <% }) %>

                    </tbody>
                </table>
            </div>

</body>

</html>